mixin race 
    synz 
        syn     
            | race 
        syn 
            | community 
        syn     
            | ethnicity
        syn    
            | population

mixin races 
    synz 
        syn     
            | races 
        syn 
            | communities 
        syn     
            | ethnicities

mixin different 
    synz 
        syn 
            | different 
        syn 
            | various

mixin recorded 
    synz 
        syn     
            | recorded 
        syn 
            | registered
        syn 
            | cataloged
mixin record
    synz 
        syn     
            | record 
        syn 
            | register
        syn 
            | catalog

mixin AmongThem
    synz
        syn 
            | among the selected,
        syn 
            | in the selected,
        syn 
            | out of the selected,

mixin multiYear 
    synz
        syn
            | in between the years
        syn     
            | during the period

mixin singleYear 
    synz
        syn
            | for the year
        syn     
            | during 
        syn 
            | around

mixin anAverage 
    synz 
        syn 
            | an average
        syn 
            | a mean 
mixin Average 
    synz 
        syn 
            | average
        syn 
            | mean 

mixin records 
    synz 
        syn 
            | records 
        syn 
            | dataset 
        syn 
            | statistics 
        syn 
            | documentation
        syn 
            | information

mixin highest 
    synz 
        syn 
            | highest 
        syn     
            | maximum 
        syn 
            | topmost 
        syn 
            | peak
        syn 
            | uppermost

mixin lowest 
    synz 
        syn 
            | lowest 
        syn     
            | minimum 
        syn 
            | lowermost 
        syn 
            | smallest
        syn 
            | minimal

mixin greater 
    synz 
        syn     
            | greater
        syn     
            | higher 
        syn     
            | more

mixin lower 
    synz 
        syn     
            | lesser
        syn
            | lower

mixin each 
    synz 
        syn     
            | each
        syn
            | a single 


mixin around 
    synz 
        syn     
            | around
        syn
            | nearby 
        syn 
            | approximately 
        syn 
            | about 

mixin region 
    synz 
        syn     
            | region
        syn
            | area 
        syn 
            | zone
        