mixin disability
  | with a #[+syn('disorder', 'condition', 'dysfunction')]
  | were


mixin intro
  synz
    syn
      | around the time of
    syn
      | in the time of
    syn
      | in the year

- let eth;
each e in ethnicity
  - eth = e;
  p #[+intro] #{eth.year} the percentage of children in the united states aged between 0-17 within the #{eth.ethnicity} community . #[+disability] #{eth.percent},


